<div class="jumbotron jumbotron-home text-center">
  <div class="container-fluid">
    <h1>Contraband, delivered right to your doorstep.</h1>
    <h3>Free delivery on your first purchase above $300</h3>

    <a class="btn btn-lg btn-hero" href="/shop">Shop Now</a>
  </div>
</div>
<div class="container-fluid">
  <div class="col-sm-3 hidden-xs">
    <h3>Categories</h3>
    <ul class="sidebar">
      <% @categories.each do |category| %>
      <li><a href=#><%= category[:category] %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <% @products.each do |product| %>
      <div class="col-sm-6 col-md-4 card">
        <div class="photo product-pic" style="background-image: url(/img/products/<%= product[:photo_url] %>)"></div>
        <div class="content-middle">
          <h3><%= product[:name] %></h3>
          <h4>$<%= product[:price] %></h4>
        </div>
        <a href="#" class="btn btn-buy btn-card">Buy Now</a>
      </div>
      <% end %>
    </div>
  </div>
</div>
