<div class="jumbotron text-center">
  <div class="container-fluid">
    <h1>Guns, delivered right to your doorstep.</h1>
    <h3>Free delivery on your first purchase above $300</h3>

    <a class="btn btn-lg btn-hero" href="/products">Shop Now</a>
  </div>
</div>
