<h4 class="text-center">These are our users</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user[:id] %></td>
      <td><a href="/users/<%= user[:id] %>"><%= user[:name] %></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
