body {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #4C4C47;
  color: #2D2D2A;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #848FA5;
}

a:hover {
  color: #C14953;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "serenity",sans-serif;
  font-weight: 	900;
}

h4, h5, h6 {
  font-weight: 	300;
}

.jumbotron {
  background: #2D2D2A;
  color: #141301;
  font-family: "serenity",sans-serif;
  /* background-image: url(../img/blackmart-hero-bg.jpg); */
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.btn {
  border-radius: 4rem;
  font-size: 1.8rem;
  padding: 2rem 3rem;
  font-family: "serenity",sans-serif;
  font-weight: 	600;
}

.btn-hero {
  border: 2px solid  #141301;
  background: none;
  color:  #141301;
  margin-top: 3rem;
}

.btn-hero:hover {
  border: 2px solid #C14953;
  background:  #C14953;
}

.btn-brand {
  border: 2px solid  #C14953;
  background: none;
  color:  #C14953;
  margin-top: 3rem;
}

.btn-brand:hover {
  border: 2px solid #C14953;
  background:  #C14953;
}

.btn-base {
  border: 2px solid  #2D2D2A;
  background: none;
  color:  #2D2D2A;
  margin-top: 3rem;
}

.btn-base:hover {
  border: 2px solid #2D2D2A;
  background:  #2D2D2A;
  color: #4C4C47;
}

.btn-submit {
  border: 2px solid  #C14953;
  background: none;
  color:  #C14953;
  margin-top: 3rem;
}

.btn-submit:hover {
  border: 2px solid #C14953;
  background:  #C14953;
}

.navbar {
  font-family: "serenity",sans-serif;
}

.navbar-default {
  background-color: #141301;
  border-bottom: none;
}

.navbar-brand-logo {
  height: 20px;
  width: 110px;
  padding: 0;
  background-image: url(../img/blackmart-logo-dark-grey.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%
}

.navbar-brand-logo:hover {
  background-image: url(../img/blackmart-logo-red.png);
}

.navbar-toggle {
  background: none;
  border: none;
}

.navbar-default .navbar-toggle:hover {
  background: none;
}

.navbar-toggle:hover  > .icon-bar {
  background: #C14953;
}

.form-control {
  border-radius: 2rem;
  padding: 3rem 1.5rem;
  background: #4C4C47;
  color: #141301;
  border: 2px solid  #2D2D2A;
}

.form-textarea {
  padding: 1.5rem;
  resize: vertical;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #2D2D2A;
}

.divider-clear {
  margin: 5rem 0;
}

.profile-pic {
  width: 150px;
}

.action-buttons a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  float: left;
  padding: 0.8rem 1.8rem;
  font-size: 1.2rem;
}

.action-buttons input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: left;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
}
