<div class="container-fluid">
  <h3 class="text-center">Got something to change?</h3>
  <div class="divider divider-clear"></div>
  <form action="/categories/<%= @category[:id] %>" class="row" id="edit-category" method="POST">
    <input type="hidden" name="_method" value="put">
    <div class="form-group col-sm-12">
      <label for="category_name">Category:</label>
      <input type='text' class="form-control" name='category[category]' id="category_name" value="<%= @category[:category] %>"/>
    </div>

    <div class="col-sm-6">
      <input type="submit" value="Save it" name="submit" class="btn btn-submit btn-block">
    </div>
    <div class="col-sm-6">
      <a class="btn btn-lg btn-base btn-block" href="/categories">Cancel this shit</a>
    </div>
  </form>
</div>
