<div class="container">
  <h2 class="text-center">Three Reasons to Sign Up</h2>
  <div class="row">
    <div class="col-sm-4">
      <h4>Enjoy low everyday prices
  on over 14,000 products</h4>
    </div>
    <div class="col-sm-4">
      <h4>Save up to 50% with our
  weekly sales and promotions</h4>
    </div>
    <div class="col-sm-4">
      <h4>Choose your own delivery time, available 7 days of the week</h4>
    </div>
  </div>
  <div class="divider"></div>
  <form class="user row" id="add-user" method="POST" action="/users">
    <div class="form-group col-sm-6">
      <label for="user_name">Name:</label>
      <input type='text' class="form-control" name='user[name]' id="user_name" placeholder="Name"/>
    </div>
    <div class="form-group col-sm-6">
      <label for="user_email">Email:</label>
      <input type='email' class="form-control" name='user[email]' id="email" placeholder="Email"/>
    </div>
    <div class="col-sm-12">
      <button type="submit" value="Add User" class="btn btn-hero btn-block">Submit</button>
    </div>
  </form>
</div>
