<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 center-block">
      <h4 class="text-center">These are our products</h4>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= product[:id] %></td>
            <td><a href="/products/<%= product[:id] %>"><%= product[:name] %></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
