<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1 class="text-center">Welcome Admin,</h1>
        <h3 class="text-center">You can add, edit and delete brands here.</h3>
        <a class="btn btn-lg btn-base" href="/">Go hard or go home</a>
        <a class="btn btn-lg btn-brand" href="/brands/new">Add a brand</a>
      </div>
      <div class="panel panel-default divider-clear">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Brand</th>
                  <th class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @brands.each do |brand| %>
                <tr>
                  <td><%= brand[:id] %></td>
                  <td><%= brand[:name] %></td>
                  <td class="text-right">
                    <ul class="table-link">
                      <li><a href="/brands/<%= brand[:id] %>/edit" data-toggle="tooltip" title="Edit Brand"><i class="fa fa-edit"></i></a></li>
                      <li>
                        <form action="/brands/<%= brand[:id] %>" id="delete-brand" method="POST">
                          <input type="hidden" name="_method" value="delete">
                          <input type="submit" value="&#xf00d" name="_method" class="fa-input" data-toggle="tooltip" title="Delete Brand">
                        </form>
                      </li>
                    </ul>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
